.navbar-font-size {
    font-size: 40px;
}

.navbar-color {
    color: #4A4A4A;
}

.carousel-font-size {
    font-size: 40px;
}



.carousel-img {
    filter: brightness(60%);
    height: 650px;
    max-block-size: 100vh;
}

.carousel-container {
    padding-bottom: 150px;
}

.course-card-height {
    height: 250px;
}

.modal-header {
    background-color: rgb(187, 148, 76);
    color: white;
}

.modal-width {
    width: 50%;
    text-align: center;
}

.feedback-small {
    font-size: small;
}