.N-font-size {
    font-size: 40px;
}

.color {
    color: #4A4A4A;
}

.c-font-size {
    font-size: 60px;
}

.c-bg {
    background-color: #1D1D1D;
}

.c-img {
    filter: brightness(60%);
    height: 700px;
    max-block-size: 100vh;
}

.c-container {
    padding-bottom: 150px;
}

.height {
    height: 200px;
}

.modal-header {
    background-color: rgb(187, 148, 76);
    color: white;
}

.m-width {
    width: 50%;
    text-align: center;
}

.f-small {
    font-size: small;
}


.bg {
    background-color: rgba(22, 22, 22, 1);
}